*.exe
*.o
*.out
*.obj
dataset_*.csv
!dataset_1000.csv
*.txt
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
